---
import "../styles/global.css";
const { BASE_URL } = import.meta.env;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={`${BASE_URL}/favicon.svg`} />
    <meta name="generator" content={Astro.generator} />
    <title>Glyph</title>
  </head>
  <body>
    <div class="w-full h-dvh" id="canvas-container">
      <slot />
    </div>
  </body>
</html>
